* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

.headerContainer {
  height: 20vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.headerContainer img {
  width: 14rem;
  transition: 0.5s;
}

.headerContainer img:hover {
  width: 16rem;
}

main {
  background-color: lightgreen;
  display: flex;
  gap:8rem;
  padding:0 10rem;
}

.leftSideContainer {
  background-color:red;
  flex:1;
}

.rightSideContainer {
  background-color:green;
  flex:1;
}


